@import '../../scss/colors';
@import '../../scss/mixins';

.profile {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid $text-01;
  background-color: $text-02;
  border-radius: 10px;

  .heading {
    text-align: center;
    @include text-styles(16px, 400, uppercase, $text-01)
  }

  .info-box {

  }
}