.weather__container {
    height: 500px;
    border-radius: 5px;
    border-top: 1px solid #000000;
    background-image: url("../../assest/images/background-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    /*height: 200px;*/
    background-color: rgba(204, 204, 204, 0.75);
    border-radius: 10px;
}

.weather__content p, h4, h5 {
    margin: 0;
}

.weather__city {
    padding-bottom: 5px;
    border-bottom: 1px solid #525252;
}

.weather__temperature {
    font-size: 50px;
    font-weight: 900;
    color: #216c7f;
}

.weather__temperatureMinMax p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather__temperatureMinMax span {
    font-weight: 900;
    font-size: 25px;
}

.weather__temperatureMin span {
    color: #3560a8;
}

.weather__temperatureMax span {
    color: #976930;
}

.weather__icons {
    display: flex;
}

.weather__iconItem {
    margin: 10px;
    font-weight: 900;
    text-align: center;
    color: #410079;
    width: 50px;
    height: 50px;
    border: 2px solid #410079;
    border-radius: 5px;
    background-image: url("../../assest/images/icon-windy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 10px;
}

.weather__error {
    color: rgba(22, 198, 172, 0.89);
    font-weight: 900;
    font-size: 20px;
}