@import '../../scss/colors';
@import '../../scss/mixins';

// 1920
// 1440
// 1024
// 768
// 576
// 375
// 320

.header {
  padding: 20px 0;
  background: transparent;
  backdrop-filter: blur(15px);
  border-bottom: 2px solid $white;

  .container {
    @include container(1024px, 100%, 0 auto, 0 10px, flex, center, center);

    .logo__text-box {

      .logo__text {
        transition: all 0.5s ease;
        @include text-styles(28px, 600, uppercase, $white);
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    .container {
      .logo__text-box {
        .logo__text {
          @include text-styles(22px, 600, uppercase, $white);
        }
      }
    }
  }
}

@media (max-width: 376px) {
  .header {
    .container {
      .logo__text-box {
        .logo__text {
          @include text-styles(18px, 600, uppercase, $white);
        }
      }
    }
  }
}