@import '../../scss/colors';
@import '../../scss/mixins';

.header {
  padding: 20px 0;
  background-color: $text-02;
  border-bottom: 2px solid $text-01;
  transition: all 0.5s ease;

  .container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name-box {
      .name {
        @include text-styles(48px, 900, uppercase, $text-01);
      }
    }

    .buttons-box {
      button:not(:last-child) {
        margin-right: 10px;
      }
      button .link {
        display: block;
        color: $text-02;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
          color: $text-02-hover;
        }
      }
    }
  }
}

.header-cold {
  background-color: $background-cold;
  .container {
    .buttons-box {
      button .link {
        color: $background-cold;
      }
    }
  }
}

.header-warm {
  background-color: $background-warm;
  .container {

  }
}

.header-hot {
  background-color: $background-hot;
  .container {

  }
}