@import './scss/colors';
@import './scss/mixins';

// 1920
// 1440
// 1024
// 768
// 576
// 375
// 320

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.background__day {
  background-image: url("assest/images/main-background-day.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.background__night {
  background-image: url("assest/images/main-background-night.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.app {
  .main {
    height: calc(100vh - 75px);
  }
}

@media (max-width: 426px) {
  .app {
    .main {
      height: calc(100vh - 68px);
    }
  }
}

@media (max-width: 426px) {
  .app {
    .main {
      height: calc(100vh - 63px);
    }
  }
}